<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
  
  <select id="selectToday" resultType="string">
     select sysdate from dual
  </select>
  
  <select id="selectCalc" parameterType="hashmap" resultType="int">
  	select #{num1} * #{num2} from dual
  </select>
  
  <select id="selectVO" parameterType="hashmap" resultType="testVO">
  	select sysdate today, #{num1} * #{num2} result from dual
  </select>
  
  <select id="selectMap" parameterType="hashmap" resultType="hashmap">
  	select sysdate today, #{num1} * #{num2} result from dual
  </select>
  
  <select id="selectList1" resultType="hashmap">
  	select * from test
  </select>
  
  <select id="selectList2" resultType="testDTO">
  	select * from test
  </select>
</mapper>